*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-image: url(images/HSQ6y4OasAEXebB.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: arial, sans-serif;
}

.kalkulator{
    background-color: #313244;
    padding: 20px;
    border-radius: 15px;
    width: 320px;

}

#display{
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    background-color: #181825;
    color: white;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;

}

.tombol{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

tombol{
    height: 55px;
    border: none;
    border-radius: 8px;
    background-color: #45475a;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

tombol:hover{
    background-color: #585b70;
}

.equal{
    background-color: #89b4fa;
    color: #1e1e1e;
    grid-row: span 2;
    height: 120px;
}

.zero{
    grid-column: span 2;
}